{% extends 'base.html' %}
{% block breadcrumb %}
<ol class="breadcrumb my-4">
    <li class="breadcrumb-item active">Boards</li>
</ol>
{% endblock %}

{% block post %}
    {% for post in posts %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{post.title}}</h2>
        <p class="blog-post-meta">{{post.createad_in}} by <a href="#">{{post.createad_by}}</a></p>
        {{ post.text|truncatechars:300|safe }} <br>
        <br>
        <a class="btn btn-primary" href="{% url 'post_topics' post.pk %}" role="button">Читать подробнее...</a>

    </div><!-- /.blog-post -->
    <hr>
    {% endfor %}
{% endblock %}