{% extends 'base.html' %}

{% block title %}
PMBLOG - {{post.title}}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb my-4">
    <li class="breadcrumb-item active"><a href="{% url 'home' %}">Главная</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'post_topics' post.pk %}">{{post.title}}</a></li>
</ol>
{% endblock %}

{% block post %}
<div class="blog-post">
    <h2 class="blog-post-title">{{post.title}}</h2>
    <p class="blog-post-meta">{{post.created_in}}. Автор: <a href="#">{{post.owner}}</a></p>

    {{post.text|safe}}

</div><!-- /.blog-post -->
{% endblock %}

{% block pagination %}
  <div class="row justify-content-md-center">
    <div class="col">
        {% if post_prev != -1 %}
            <p class="text-left"><a href="{% url 'post_topics' post_prev.pk %}">&larr; {{post_prev.title|truncatechars:25}}</a></p>
        {% endif %}
    </div>

    <div class="col">
        {% if post_next != -1 %}
            <p class="text-right"><a href="{% url 'post_topics' post_next.pk %}">{{post_next.title|truncatechars:25}} &rarr;</a></p>
        {% endif %}
    </div>
  </div>
{% endblock %}


